/* Основные цвета */
$primary_1: #FFD957;
$primary_2: #E8B64F;
$primary_3: #FFBB64;
$primary_4: #E88F4F;
$primary_5: #E88F4F;

/* Дополнительные цвета */
$secondary_1: #FF8300;
$secondary_2: #FFA240;
$secondary_3: #A65500;
$secondary_4: #FFB400;
$secondary_5: #A67500;
$secondary_6: #FF2800;
$secondary_7: #BF4630;
$secondary_8: #FF8973;
$secondary_9: #FF5D40;
$secondary_10: #06799F;
$secondary_11: #024E68;
$secondary_12: #61B4CF;
$secondary_13: #3AAACF;

/*Темные оттенки */

$gray1: #000000;
$gray2: #494D55;
$gray3: #717475;
$gray4: #C9CBCB;
$gray5: #EEEEEE;
$gray6: #FAFAFA;
$gray7: #FFFFFF;
