.box_left {
        position: absolute;
        width: 848px;
        height: 848px;
        left: -425px;
        top: 476px;
        transform: rotate(45deg);
        z-index: 1;

    /* Secondary/7 */

    background: #BF4630;
}