.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        margin-top: 14px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FAFAFA;
    }
}