.header {
    min-height: 124px;
    background: $primary_2;
    padding: 11px 0;

    &__row {    
        display: flex;
        align-items: center;
        justify-items: center;
    }
}

@media (max-width: 500px) {
    .header {
        width: 100%;
    }
}